torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
transformers==4.34.0
datasets==2.14.5


pandas==2.1.1
numpy==1.24.3


evaluate==0.4.0
rouge-score==0.1.2
nltk==3.8.1


matplotlib==3.7.2



jupyterlab==4.0.5


